<h2>Fine Scotches</h2>
<table class="table table-striped table-bordered">
<table>
<tr>
<td>Name</td>
<td>Item</td>
</tr>
<tr ng-repeat="alert in alerts">
<td>{{alerts.name}}</td>
<td>{{alerts.item}}</td>
</tr>
</table>