<!-- finance-home.html -->

<div>
    <a ui-sref=".finance1" class="btn btn-primary">Finance 1</a>
    <a ui-sref=".finance2" class="btn btn-primary">Finance 2</a>
	<a ui-sref=".finance3" class="btn btn-primary">Finance 3</a>
</div>

<div ui-view></div>