<!-- planning-home.html -->

<!--div class="jumbotron text-left"-->
<div>
    <a ui-sref=".demand" class="btn btn-danger">Demand</a>
    <a ui-sref=".supply" class="btn btn-danger">Supply</a>
	<a ui-sref=".supplydemand" class="btn btn-danger">Supply & Demand</a>
</div>

<div ui-view></div>