<!-- partial-home.html -->

<!--div class="jumbotron text-center">
    <h1>The Homey Page</h1>
    <p>This page demonstrates <span class="text-danger">nested</span> views.</p>  

    <a ui-sref=".list" class="btn btn-primary">List</a>
    <a ui-sref=".paragraph" class="btn btn-danger">Paragraph</a>
</div>

<div ui-view></div-->


<!-- planning.html -->

<span style="font-size:30px;cursor:pointer" onclick="openNav()">☰</span>
<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
  <a href="#">Dashboard</a>
  <a href="#">Alerts</a>
  <a href="#">Reports</a>
  <a href="#">Notifications</a>
  <a href="#">Simulation</a>
</div>
<!--div ui-view></div-->