<!-- TODO: Replace table to table component when https://github.com/angular/material/issues/796 will closed -->
<div class="table-responsive-vertical md-whiteframe-z1">
    <table id="table" class="table table-hover table-bordered">
        <thead>
        <tr>
            <th>#</th>
            <th>Username</th>
            <th>Password</th>
            <th>Email Address</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="data in vm.tableData track by $index">
            <!--td data-title="ID">{{$index + 1}}</td-->
            <td data-title="ID">{{data.id}}</td>
            <td data-title="Username">{{data.username}}</td>
            <td data-title="Password">{{data.password}}</td>
            <td data-title="Email Address">{{data.email_address}}</td>
            <td data-title="Progress">
                <md-progress-linear class="table-progress {{data.class}}"
                                    md-mode="determinate"
                                    value={{data.progress}}>
                </md-progress-linear>
            </td>
        </tr>
        </tbody>
    </table>
</div>
