<table>
<tr>
<td>Name</td>
<td>Price</td>
</tr>
<tr ng-repeat="scotch in scotches">
<td>{{scotch.name}}</td>
<td>{{scotch.price}}</td>
</tr>
</table>

<h2>Fine Scotches</h2>
<table class="table table-striped table-bordered">
<tr>
<th>Name</th>
<th>Cost</th>
</tr>
<tr ng-repeat="scotch in scotches">
<td>{{scotch.name}}</td>
<td>${{scotch.price}}</td>
</tr>
</table>